@charset "UTF-8";

/*Telas de tablets em diante
*/
@media screen and (min-width:768px){
  nav.navegacao{
    display: block;

  }
  nav > ul > li{
    display: inline;
    border-top: none;
    text-align: center;
    border-radius: 5px ;
  }
  header.container{
    display: flex;
    justify-content: center;
  }
  header.container{
    min-height:50px;
  }
  nav > ul{
    background-color:rgba(74, 74, 190, 0.713)  ;
    padding: 10px 0px;
  }

  main{
    width:768px ;
  }
  i#icone{
    display: none;
  }
  
  
}